<section id="registro">
  <h2 class="page-header" align="center">Registrarse</h2>
  <div class="container">
    <div class="row" align="center">

    <div class="form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.text_field :username, placeholder:'nombre de usuario', autofocus: true %>
      </div>

      <div class="field">
        <%= f.email_field :email, placeholder:'email', autofocus: true %>
      </div>

      <div class="field">
        <% if @minimum_password_length %>
          <em>mínimo <%= @minimum_password_length %> caracteres</em>
        <% end %>
        <%= f.password_field :password, placeholder:'contraseña', autocomplete: "off" %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, placeholder:'confirmar contraseña', autocomplete: "off" %>
      </div>

      <div class="field">
        <em>Añade una imagen</em>
        <%= f.file_field :avatar %>
      </div>

      <div class="actions">
        <button><%= f.submit "CREAR CUENTA" %></button>
      </div>
      <% end %>

      <div class="field">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    </div>
</section>
