
  <!-- <nav class="navbar navbar-inverse-sub navbar-stactic-sub">
  </nav> -->
  <h2 class="page-header" align="center">Iniciar Sesión</h2>
  <div class="container" align="center">
  <section id="bg-map">
    <div class="col-md-12">

    <div class="bg-map-cali">
      <div class="form">
      <!--<form class="login-form">-->

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field" align="left">
          <%= f.label :Email %><br />
          <%= f.email_field :email, placeholder:'email', autofocus: true %>
        </div>

        <div class="field" align="left">
          <%= f.label :Contraseña %><br />
          <%= f.password_field :password, placeholder:'contraseña', autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="" align = "center">
            <%= f.label :remember_me, 'Recuerdame' %>
            <%= f.check_box :remember_me, :class => '' %>
          </div>
        <% end -%>
        <br/>

        <div class="actions" align="center">
          <button>
            <%= f.submit "Entrar", :class => 'link' %>
          </button>
        </div>

        <div align="center">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "¿olvidó su contraseña?", new_password_path(resource_name), :class => 'link' %>
          <br/>
          <% end -%>
        </div>

        <% end %>

        <div align="center">
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Registrarse", new_registration_path(resource_name), :class => 'link' %>
          <br/>
          <% end -%>
        </div>
    <!--</form>-->
    </div>

    <!-- Fin form inciar sesion -->

    </div>
    </div>
  </section>

  </div>
